.banner {
  position: relative;
  display: inline-block;
  width: 100%;
}

#img-banner {
  width: 100%;
}

.banner__textos {
  position: absolute;
  top: 30%;
  left: 8rem;
}

.banner__textos-titulo {
  color: #ffffff;
  font-size: 3.25rem;
}
.banner__textos-descripcion {
  color: #ffffff;
  font-size: 1, 375rem;
  margin: 1.5rem 0rem;
}

@media screen and (max-width: 768px) {
  #img-banner {
    height: 13rem;
  }

  .banner__textos {
    top: 20%;
    left: 1rem;
  }
  
  .banner__textos-titulo {
    font-size: 3rem;
  }
  .banner__textos-descripcion {
    font-size: 1.2rem;
    margin: 1rem 0;
  }
}

@media screen and (max-width: 360px) {
  #img-banner {
    height: 8rem
  }
  .banner__textos {
    top: 20%;
    left: 1rem;
  }
  
  .banner__textos-titulo {
    font-size: 1.5rem;
  }
  .banner__textos-descripcion {
    font-size: 0.9rem;
    margin: .5rem 0;
  }
  #ver-promociones{
    font-size: 0.7rem;
    padding: 0.5rem;
  }

}
